*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* Bannar Part */
.header{
    width: 100%;
    height: 100vh;
    background-color: #E554731A;
}
.bannar-container{
    display: flex;
    justify-content: center;
}
.bannar-text{
    width: 40%;
    padding-left: 250px; 
    padding-top: 150px;
    padding-bottom: 150px; 

}
.bannar-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;

}
.bannar-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;

}

 
.bannar-photo> img{
    width: 350px;
    height: 540px;
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 0px;
}     

/*  
.bannar-photo{
    width: 35%;
    height: 100vh;
    background-image:url("Flower Asset/pngwing 10.png") ;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    padding-right: 300px;
}
*/

.btn{
    padding: 12px 30px;
    background-color: #E55473;
    border-radius: 5px;
    border-style: none;
    color: white;
}



/* Feature Flower Part */
.feature-text>h3{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #272727;
}
.feature-text>p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.feature-flower-container{
    width: 70%;
    height: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.flower{
    width: 25%;
    height: 250px;
    border-radius: 100px 100px 0px 0px;

}
.f1{
    background-image: url("Flower Asset/pngwing 6.png");
    background-color: #A7216226;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}
.f2{
    background-color: #0597A026;
    background-image: url("Flower Asset/pngwing 5.png");
    background-color: #A7216226;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
.f3{
    background-color: #477D1126;
    background-image: url("Flower Asset/pngwing 7.png");
    background-color: #A7216226;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}


.flower img{
    width: 100px;
    height: 200px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}




.flower-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    text-decoration: underline;
    margin-bottom: 50px;
}

.delivery-container{
    width: 70%;
    height: 200px;
    margin: auto;
    background-color: #2727270D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;


}

.delivery-block{
    width: 30%;
    text-align: center;
    
}
.delivery-block>p{
    color: #272727CC;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    

}
.delivery-block>img{
    width: 50px;
    padding: 15px;
}



/* Hot Deal Part */
.hot-deal-container{
    width: 100%;
    height: 400px;
    background-color: #E554730D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.hot-deal-text{
    width: 40%;
    text-align: center;
}

.hot-deal-text>h2{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
        

}
.hot-deal-text>p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
        

}
.hto-deal-image>img{
    width: 200px;
    height: 200px;
}

.span-red{
    color: red;
}



/* Instagram Part */
.instagram-text{
    text-align: center;
    margin-bottom: 50px;
}

.instagram-text>h3{
   color: #272727;
   font-size: 30px;
   font-weight: 800px;
   margin-bottom: 10px;
}
.instagram-text>p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400px;
}

.instagram-photo-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.instagram-photo>img{
    width: 200px;
    height: 220px;

}